@import url('https://fonts.googleapis.com/css2?family=Material+Icons&Noto+Serif+SC&Noto+Serif+SC&family=Noto+Serif+TC&display=swap');
@import "@material/button/mdc-button";
// @import "@material/card/mdc-card";
@import "@material/dialog/mdc-dialog";
// @import "@material/elevation/mdc-elevation";
// @import "@material/fab/mdc-fab";
@import "@material/form-field/mdc-form-field";
@import "@material/icon-button/mdc-icon-button";
@import "@material/layout-grid/mdc-layout-grid";
@import "@material/linear-progress/mdc-linear-progress";
@import "@material/list/mdc-list";
@import "@material/radio/mdc-radio";
@import "@material/ripple/mixins";
@import "@material/rtl/mixins";
@import "@material/shape/mixins";
@import "@material/shape/functions";
@import "@material/slider/styles";
// @import "@material/snackbar/mdc-snackbar";
@import "@material/textfield/mdc-text-field";
@import "@material/theme/color-palette";
@import "@material/theme/functions";
@import "@material/theme/mixins";
@import "@material/typography/mdc-typography";

:root {
  --mdc-theme-primary: rgb(41, 27, 27);
  --mdc-theme-secondary: #fff;
  --mdc-theme-surface: #fff;
  --mdc-theme-background: #fff;
  --mdc-theme-on-secondary: rgba(0, 0, 0, 0.6);
}

html,
body {
  width: 100vw;
  height: 100%;
  margin: 0 auto;
  overflow: hidden;
  touch-action: none;
  position: relative;
  background-color: var(--mdc-theme-background);
  color: var(--mdc-theme-primary);
  font-family: 'Noto Serif TC', 'Noto Serif SC', serif;
}

main,
.mdc-layout-grid,
.mdc-layout-grid__inner {
  height: 100%;
}

#phrase,
#pinyin,
#jyutping {
  text-align: center;
  font-weight: normal;
  margin: 0
}

#target {
  display: flex;
  justify-content: center;
  align-items: center;
}

#definitions {
  font-family: 'Noto Serif TC', 'Noto Serif SC', serif;
  .mdc-list-item {
    margin-bottom: .2em;
  }
}

#progressbar {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 8px;
  .mdc-linear-progress__bar-inner {
    border-color: var(--mdc-theme-secondary);
    border-top: 8px solid;
  }
  .mdc-linear-progress__buffer-bar {
    background-color: var(--mdc-theme-surface);
  }
}

#panel {
  max-height: 100vh;

  #definitions {
    overflow-y: auto;
    flex: 1 1 0;
  }
}

#button {
  position: absolute;
  top: 1em;
  right: 1em;
}

.textfield--two {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 839px) {
  #panel {
    min-height: 33.3%;
    flex: 0 1 0;
    display: flex;
    flex-direction: column;
  }
}
